<!DOCTYPE html>
<html>
<head>
    <title>复选框的表现形式</title>
</head>


<body>
<div>
    <fieldset>
        <legend>复选框全选与取消的应用：</legend>
        <p>indeterminate</p>
        <ul>
            <li>
                <input type="checkbox" id="checkall" class="checkall">
                <label for="value1">全选/取消</label>
            </li>
            <li>
                <ul id="checklist">
                    <li>
                        <input type="checkbox" name="arr[]" value="1" class="check">
                        <label for="value1">value1</label>
                    </li>
                    <li>
                        <input type="checkbox" name="arr[]" value="2" class="check">
                        <label for="value1">value2</label>
                    </li>
                    <li>
                        <input type="checkbox" name="arr[]" value="3" class="check">
                        <label for="value1">value3</label>
                    </li>
                    <li>
                        <input type="checkbox" name="arr[]" value="4" class="check">
                        <label for="value1">value4</label>
                    </li>
                    <li>
                        <input type="checkbox" name="arr[]" value="5" class="check">
                        <label for="value1">value5</label>
                    </li>
                </ul>
            </li>
        </ul>
    </fieldset>
</div>
</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        $(".checkall").click(function () {
            // alert(this.checked);
            if ($(this).is(':checked')) {
                $(".check").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $(".check").each(function () {
                    $(this).removeAttr("checked", false);
                    $(this).prop("checked", false); // 根据官方的建议：具有 true 和 false 两个属性的属性，如 checked, selected 或者 disabled 使用prop()，其他的使用 attr()
                });
            }
        });
    });
</script>
</html>


